@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#trafficTop {
  background-color: gray;
  width: 30px;
  height: 70px;
  margin-left: 82px;
}

#container {
  background-color: lightgray;
  width: 120px;
  height: 350px;
  margin-left: 50px;
  padding: 7px;
  border-radius: 10px;
}
#light{
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  padding: 8px;
  cursor: grab;
  border: solid gray 2px;
  z-index: 1;
 
}
.negro {
    background-color: black;
}
.red {
    background-color: red;
    z-index: 2;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}